/Packages
/Library
/Logs
/obj
/ProjectSettings
/Temp
/Assets/Library
/Assets/Packages
/Assets/ProjectSettings
/Assets/Logs
/Assets/obj/Debug
/Assets/.vs/Assets/DesignTimeBuild
/Assets/.vs/Assets/v15
/Assets/Assets/TextMesh Pro
/Assets/MachineMadness
